<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login/Signup - Todo by Kaustav</title>
  </head>
  <body>
    <h1>TODO-APP by KAUSTAV</h1>
    <div class="card">
      <a href="/login"
        ><button type="button" class="btn btn-outline-primary btn-lg">
          Login
        </button></a
      >
      <a href="/register"
        ><button type="button" class="btn btn-outline-dark btn-lg">
          Register
        </button></a
      >
    </div>
  </body>
</html>
